<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Газэнергокомплект</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gazenergokomplekt.styles.css" asp-append-version="true" />*@


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <div class="container pt-5">
            <div class="row justify-content-between">
                <div class="col">
                    <a style="margin-left:10px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Газэнергокомплект</a>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav style="background-color:#00043c ;" class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Работы</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Опорные листы</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Новости</a></li>
                        @*<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Contact</a></li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="hero-wrap">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image:url(images/image-1.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2>Компания ГазЭнергоКомплект</h2>
                                <h1 class="mb-3">Строит трубопроводные магистрали</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url(images/image-2.jpg); ">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2>Компания ГазЭнергоКомплект</h2>
                                <h1 class="mb-3">Развивает сети автозаправочных станций</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url(images/image-3.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-center">
                        <div class="col-md-12 ftco-animate">
                            <div class="text w-100 text-center">
                                <h2>Компания ГазЭнергоКомплект</h2>
                                <h1 class="mb-3">Модернизирует коммунальные инфраструктуры</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                    <div class="media block-6 d-block text-center pt-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-hook"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Котельные</h3>
                            <p>Блочно-модульная автоматизированная котельная предназначена для производства подогретого теплоносителя.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                    <div class="media block-6 d-block text-center pt-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-skyline"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">ГРС</h3>
                            <p>АГРС предназначены для подачи газа населенным пунктам, промышленным предприятиям и другим потребителям.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                    <div class="media block-6 d-block text-center pt-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-stairs"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">
                                Газорегуляторные
                                пункты
                            </h3>
                            <p>Данное оборудование выполняет функцию понижения давления газа в подающем газопроводе до параметров, которые заданы характеристиками газоиспользующего оборудования.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex services align-self-stretch p-4 py-md-5 ftco-animate">
                    <div class="media block-6 d-block text-center pt-md-4">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-home"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Строительные работы</h3>
                            <p>Ни одна сторонняя фирма не способна произвести установку и наладку блочно-модульных котельных (БМК) с таким качеством, как это сделает её производитель.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                    <div class="py-3 d-flex">
                        <div class="icon">
                            <span class="flaticon-engineer"></span>
                        </div>
                        <div class="text">
                            <h3>Профессионалы</h3>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                    <div class="py-3 d-flex">
                        <div class="icon">
                            <span class="flaticon-engineer-1"></span>
                        </div>
                        <div class="text">
                            <h3>Высококачественная работа</h3>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 services-2 p-4 py-5 d-flex ftco-animate">
                    <div class="py-3 d-flex">
                        <div class="icon">
                            <span class="flaticon-engineer-2"></span>
                        </div>
                        <div class="text">
                            <h3>Круглосуточная поддержка</h3>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 d-flex">
                    <div class="img" style="background-image:url(images/about.jpg);">
                    </div>
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row justify-content-start py-5">
                        <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                            <span class="subheading"></span>
                            <h2 class="mb-4">ЭТАПЫ РАБОТЫ</h2>
                            <div class="tabulation-2 mt-4">
                                <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                    <li class="nav-item mb-md-0 mb-2">
                                        <a class="nav-link active py-2" data-toggle="tab" href="#home1">Проектирование</a>
                                    </li>
                                    <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                        <a class="nav-link py-2" data-toggle="tab" href="#home2">Изготовление</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Монтаж</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home4">Пуско-наладка</a>
                                    </li>
                                </ul>
                                <div class="tab-content bg-light rounded mt-2">
                                    <div class="tab-pane container p-0 active" id="home1">
                                        <p>
                                            Проектирование котельных состоит в выполнении необходимых инженерных расчетов и в подготовке текстового и графического материала, что позволяет в итоге создать комплект документации, необходимой для реализации будущего объекта.
                                            Проектным отделом нашего предприятия производилось проектирование котельных в Москве и других городах России.
                                        </p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home2">
                                        <p>Изготовление в заводских условиях блок-боксов котельной с последующим монтажом оборудования. Сборка всего изделия целиком и проведение приемо-сдаточных испытаний. Разборка на блок-боксы и упаковка в термоусаживающую пленку в целях дальнейшей транспортировки.</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home3">
                                        <p>Котельная устанавливается на фундаменте, предварительно возведенном на площадке заказчика. В ходе установки производится стыковка блок-боксов, а также подключение котельной к внешним коммуникациям. Дымовая труба монтируется на отдельном фундаменте на несущей мачте из отдельных элементов. Подписываются акты сдачи-приемки оборудования (ТОРГ-12).</p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home4">
                                        <p>Проведение пуско-наладочных работ по котельной в режиме 72ч с разработкой и заполнением режимных карт. Проведение инструктажа для представителей заказчика по обслуживанию котельной. Совместное с заказчиком участие в мероприятиях по сдаче особо опасного объекта в эксплуатацию органам Ростехнадзора.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-fluid px-md-0">
            <div class="row no-gutters">
                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka1.png);">
                        <a href="images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>с. Глинищево Брянскоя обл.</span>
                                <h2><a>Завод ООО «ГазЭнергоКомплект»</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka2.png);">
                        <a href="images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>ст. Лянгасово г. Киров</span>
                                <h2><a>БМК для ж/д ст. Лянгасово</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka3.png);">
                        <a href="images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>г. Новокузнецк</span>
                                <h2><a>АГРС</a></h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka4.png);">
                        <a href="images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>ст. Бекасово-Сортировочное Московская обл.</span>
                                <h2><a>Благоустройство котельных</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka5.png);">
                        <a href="images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>г. Москва и г. Санкт-Петербург</span>
                                <h2><a>Ремонт 12 АГРС</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="work img d-flex align-items-end" style="background-image: url(images/ramka6.png);">
                        <a href="images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                            <span class="icon-expand"></span>
                        </a>
                        <div class="desc w-100 px-4">
                            <div class="text w-100 mb-3">
                                <span>Ярославская обл.</span>
                                <h2><a></a>АГРС "Локоть"</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-fluid px-lg-5">
            <div class="row">
                <div class="col-md-9 py-5">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h2 class="footer-heading">О нас</h2>
                            <p>
                                241525, Брянская область,
                                Село Глинищево, ул. Заводская, стр.1
                            </p>
                            <p>
                                Тел.: +7  (4832) 306-400
                            </p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Компания</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Вакансии</a></li>
                                                <li><a href="#" class="py-1 d-block">Контакты</a></li>
                                                <li><a href="#" class="py-1 d-block">Статьи</a></li>
                                                <li><a href="#" class="py-1 d-block">Сертификаты</a></li>
                                                <!--<li><a href="#" class="py-1 d-block">Painting</a></li>
                                                <li><a href="#" class="py-1 d-block">Arhictecture Design</a></li>-->
                                            </ul>
                                        </div>
                                        <!--<div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">About</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Staff</a></li>
                                                <li><a href="#" class="py-1 d-block">Team</a></li>
                                                <li><a href="#" class="py-1 d-block">Careers</a></li>
                                                <li><a href="#" class="py-1 d-block">Blog</a></li>
                                            </ul>
                                        </div>-->
                                        <!--<div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Resources</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Security</a></li>
                                                <li><a href="#" class="py-1 d-block">Global</a></li>
                                                <li><a href="#" class="py-1 d-block">Charts</a></li>
                                                <li><a href="#" class="py-1 d-block">Privacy</a></li>
                                            </ul>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-5">
                        <div class="col-md-12">
                            <p class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
                    <h2 class="footer-heading">Request A Quote</h2>
                    <form action="#" class="contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control submit px-3">Send</button>
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
