@{
    ViewData["Title"] = "FiltraSeparatory";
}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2">
                            <a asp-action="Index">Главная<i class="ion-ios-arrow-forward"></i></a>
                        </span> <span>Продукты<i class="ion-ios-arrow-forward"></i></span>
                    </p>
                    <h1 class="mb-0 bread">Блочно-модульные котельные</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb" style="margin-top:55px;">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 d-flex">
                    <div class="img" style="background-image:url(/images/image-2.jpg);">
                    </div>
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row justify-content-start py-5">
                        <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                            <span class="subheading"></span>
                            <h2 class="mb-4">Блочно-модульные котельные</h2>
                            <div class="tabulation-2 mt-4">
                                <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                    <li class="nav-item mb-md-0 mb-2">
                                        <a class="nav-link active py-2" data-toggle="tab" href="#home1">Описание</a>
                                    </li>
                                    <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                        <a class="nav-link py-2" data-toggle="tab" href="#home2">Преимущества</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Комплекция</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home4">Доставка</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home5">Монтаж</a>
                                    </li>
                                </ul>
                                <div class="tab-content bg-light rounded mt-2">
                                    <div class="tab-pane container p-0 active" id="home1">
                                        <p>
                                            Проектирование котельных состоит в выполнении необходимых инженерных расчетов и в подготовке текстового и графического материала, что позволяет в итоге создать комплект документации, необходимой для реализации будущего объекта.
                                            Проектным отделом нашего предприятия производилось проектирование котельных в Москве и других городах России.
                                        </p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home2">
                                        <p>
                                            Блочно-модульные котельные установки являются современными конструкциями, для создания которых задействованы новейшие и максимально эффективные технологии. Поэтому модульно-блочные котельные имеют множество достойных преимуществ, среди которых:

                                            Основным преимуществом блочной системы строительства объектов энергетики является повышенная заводская готовность. Покупка котельной, произведенной на предприятии с безупречной репутацией, является для клиента гарантией долгой и безотказной работы приобретенного оборудования. Каждая котельная сначала проходит все необходимые испытания в заводских условиях, а уже только потом доставляется на объект клиента для монтажа и установки. Данные меры необходимы для того, чтобы каждый заказчик получал продукт с гарантией качества, полностью готовый к эксплуатации.
                                            Строительство блочно-модульных котельных проще еще тем, что произведенная на заводе БМК является сертифицированным изделием и при поставке заказчику сопровождается паспортом. То есть заказывать проект котельной нет необходимости. Согласованию подлежит только подводящий газопровод и газоиспользующие устройства как элементы особо опасного объекта.
                                            Изготовление блочно-модульных котельных происходит в короткие сроки, а именно от 30 до 90 календарных дней. Более точный срок определяется на основании согласованного заказчиком технического задания и опросного листа.
                                            Использование современного оборудования и высокая степень автоматизации позволяет сделать эксплуатацию и обслуживание блочно-модульных котельных максимально экономичным. Кроме того, автономность котельной и отсутствие постоянного обслуживающего персонала делает приобретение котельной такого вида весьма выгодным мероприятием.
                                        </p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home3">
                                        <p>
                                            Стоимость блочно-модульной котельной напрямую зависит от тепловой мощности готовой системы. Также на цену очень существенное влияние оказывают такие факторы как вид топлива, количество рабочих контуров, качество исходной воды и потребность в углубленной химводоподготовке, требования заказчика к степени автоматизации. Окончательный расчет производится после согласования с заказчиком всех деталей будущего объекта. Производство блочно-модульных котельных открывает перед заказчиками новые широкие возможности, позволяющие решить задачи любой сложности и обеспечить теплом и энергией объекты любого назначения.
                                        </p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home4">
                                        <p>
                                            Купить блочно-модульную котельную под ключ означает, что после проведения испытаний в заводских условиях, блок-боксы котельной будут демонтированы относительно друг друга, упакованы в термоусаживающуюся пленку и на низкорамном большегрузном транспорте нашей компании доставлены на объект заказчика. Блочно-модульная водогрейная котельная представляет собой комплект относительно малых блоков в разобранном состоянии. Длина блок-бокса варируется от 4 до 12 метров, ширина от 2 до 3,9 метра, высота – от 2 до 3,3 метра. Это позволяет осуществлять доставку системы на объект заказчика без лишних неудобств в короткие сроки. Как правило, даже блочно-модульная котельная 6 мвт имеет возможность доставки посредством автомобильных дорог или железнодорожных путей. В цену блочно-модульной котельной расходы на доставку традиционно включаются в соответствии с договором.
                                        </p>
                                    </div>
                                    <div class="tab-pane container p-0 fade" id="home5">
                                        <p>
                                            Монтаж и пуско-наладка готовой системы происходят на объекте заказчика после доставки всех блоков. Цена блочной котельной 1 мвт складывается с учетом работ по монтажу и пуско-наладки оборудования. Причем, пуско-наладочные работы под нагрузкой осуществляются специалистами нашей компании в течение 72 часов с изготовлением режимных карт и детальной проверки работоспособности 100% оборудования и автоматики.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container" style="margin-top:55px;">

        <!-- content содержит содержимое формы -->
        <!-- Правая колонка: сама форма -->
        <div class="right-side">

            <!-- Заголовок для формы -->
            <div class="topic-text" style="color:black;">Оставить заявку</div>

            <form action="#" class="contact-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ваше Имя">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ваш контактный телефон">
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Сообщение"></textarea>
                </div>
                <div class="form-group">
                    <button id="button_send" type="submit" class="form-control submit px-3" style="background-color:#fdbe34;">Отправить</button>
                </div>
            </form>
        </div>
    </div>


    @*   <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
    <h2 class="footer-heading">Request A Quote</h2>
    <form action="#" class="contact-form">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Name">
    </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email">
    </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Subject">
    </div>
    <div class="form-group">
    <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
    </div>
    <div class="form-group">
    <button type="submit" class="form-control submit px-3">Send</button>
    </div>
    </form>
    </div>*@

    <script src="https://kit.fontawesome.com/fce9a50d02.js"
            crossorigin="anonymous"></script>
</body>
</html>
