@{
    ViewData["Title"] = "Inspection";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta />
    <title>Газэнергокомплект</title>
</head>
<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2"><a asp-action="Index">Главная<i class="ion-ios-arrow-forward"></i></a></span>
                        <span><a asp-action="Work">Работа <i class="ion-ios-arrow-forward"></i></a></span>

                    </p>
                    <h1 class="mb-0 bread">Проведение предпроектного обследования</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container mb-4" style="margin-top:55px;">
        <div>
            <p style="color:black; font-size:22px;">Применительно к&nbsp;котельным предпроектное обследование включает в&nbsp;себя:</p>
            <ul style="color:black;">
                <li>Сбор исходных данных;</li>
                <li>Анализ объема необходимых проектных работ;</li>
                <li>Сбор сведений о&nbsp;виде, содержании, категории потребителей тепловой энергии;</li>
                <li>Определение оптимального местоположения блочно-модульной котельной;</li>
                <li>Выполнение технико-экономического обоснования потребности в&nbsp;тепле и&nbsp;топливе;</li>
                <li>Содействие в&nbsp;получении разрешительной документации<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(ТУ</span> на&nbsp;подключение к&nbsp;сетям газораспределения<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(в</span> т.ч. лимиты на&nbsp;газ), водоснабжения, водоотведения и&nbsp;электроснабжения);</li>
            </ul>
            <p></p>
            <p style="color:black; font-size:22px;">
                Для сбора исходных данных, определения объема и&nbsp;характера
                проектирования наша организация выполнит предпроектное обследование:
            </p>
            <ul style="color:black;">
                <li>зданий и&nbsp;сооружений;</li>
                <li>объектов коммунальной инфраструктуры;</li>
                <li>объектов энергетики;</li>
                <li>линейных объектов и&nbsp;сетей.</li>
            </ul>
        </div>
        <div ></div>
        <div ></div>
    </div>


</body>
</html>