@{
    ViewData["Title"] = "Installation";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta />
    <title>Газэнергокомплект</title>
</head>
<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2">
                        <span class="mr-2"><a asp-action="Index">Главная<i class="ion-ios-arrow-forward"></i></a></span>
                        <span><a asp-action="Work">Работа <i class="ion-ios-arrow-forward"></i></a></span>

                    </p>
                    <h1 class="mb-0 bread">Проектные работы</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container mb-4" style="margin-top:55px;">
        <div class="vn-main">
            <div style="color:black; font-size:22px;">
                <p>
                    Реализации любого проекта всегда предшествует этап создания
                    проектной документации. Если&nbsp;речь идет о&nbsp;возведении технически
                    сложного объекта, который эксплуатируется в&nbsp;беспрерывном режиме,
                    то&nbsp;данный вопрос можно доверить только специалистам с&nbsp;высокой
                    квалификацией. ООО<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">«ГазЭнергоКомплект</span>»
                    предлагает свои услуги по&nbsp;проектированию котельных в&nbsp;Москве
                    и&nbsp;любом другом регионе России. Масштабы объекта не&nbsp;имеют
                    значения, мы&nbsp;с&nbsp;одинаковой ответственностью подходим,
                    как&nbsp;к&nbsp;крупным заказам, так&nbsp;и&nbsp;обращениям частных лиц.
                    Проектирование выполняется с&nbsp;четким соблюдением всех действующих
                    норм и&nbsp;правил.
                </p>
                <p>
                    Основанием для&nbsp;проектных работ является техническое задание,
                    предоставленное заказчиком, а&nbsp;также пакет исходно-разрешительной
                    документации, в&nbsp;которой содержится информация о&nbsp;результатах
                    геологических, геодезических, экологических и&nbsp;иных инженерных
                    изысканий. От&nbsp;полноты и&nbsp;достоверности сведений, содержащихся
                    в&nbsp;ТЗ, зависит скорость и&nbsp;качество проектирования.
                    Если&nbsp;у&nbsp;вас&nbsp;возникнут трудности при&nbsp;составлении
                    данного документа, то&nbsp;специалисты нашей компании помогут
                    с&nbsp;их&nbsp;решением в&nbsp;рамках предварительного сотрудничества.
                </p>
                <p>
                    Результатом выполненных нами работ по&nbsp;проектированию
                    котельной&nbsp;или иного объекта будет комплект проектной и&nbsp;рабочей
                    документации, оформленный в&nbsp;полном соответствии со&nbsp;всеми
                    действующими правилами и&nbsp;нормами, с&nbsp;учетом ваших требований
                    и&nbsp;пожеланий. По&nbsp;согласованию с&nbsp;заказчиком проектная
                    документация передается на&nbsp;экспертизу, которая по&nbsp;итогам
                    рассмотрения документов выдает положительное заключение. После этого
                    возможно начинать строительство, монтаж и&nbsp;последующую эксплуатацию
                    объекта.
                </p>
                <p>
                    Наши специалисты постоянно повышают свою квалификацию, принимая
                    участие в&nbsp;специализированных семинарах и&nbsp;обучающих программах.
                    Большой опыт работы в&nbsp;данной сфере позволяет нам&nbsp;избежать
                    недочетов и&nbsp;ошибок, из-за которых надзорные органы могут отказать
                    в&nbsp;согласовании проекта. Это&nbsp;позволяет нам&nbsp;гарантировать
                    заказчику своевременное исполнение своих обязательств.
                </p>
                <h2>Выполняемые работы</h2>
                <p>Проектные работы включают в&nbsp;себя подготовку:</p>
                <ul class="list">
                    <li>плана-схемы участка, где&nbsp;будет размещена котельная;</li>
                    <li>архитектурных, конструкторских и&nbsp;технологических решений;</li>
                    <li>
                        данных, содержащих сведения о&nbsp;внутренних и&nbsp;наружных
                        инженерно-технических сетях, оборудовании, которое
                        они&nbsp;обеспечивают, об&nbsp;инженерных и&nbsp;технических
                        мероприятиях, необходимых для&nbsp;функционирования котельной;
                    </li>
                    <li>проектов, касающихся процесса организации строительных работ;</li>
                    <li>проектов мероприятий по&nbsp;пожарной безопасности объекта;</li>
                    <li>специальных разделов проектной документации.</li>
                </ul>
                <h2>Проектирование промышленных котельных – порядок проведения работ</h2>
                <p>
                    Процесс проектирования предваряет выезд нашего специалиста
                    на&nbsp;место будущего строительства для&nbsp;осмотра территории,
                    обследования ее&nbsp;на&nbsp;предмет наличия и&nbsp;доступности внешних
                    сетей, удобства монтажа будущей котельной и&nbsp;т.д. После получения
                    требуемых данных и&nbsp;исходно-разрешительной документации,
                    мы&nbsp;приступаем к&nbsp;выполнению следующих этапов проектных работ:
                </p>
                <ul style="list-style: decimal;">
                    <li>
                        Составлению совместно с&nbsp;заказчиком и&nbsp;утверждению
                        технического задания на&nbsp;изготовление котельной. Помощь наших
                        специалистов позволит избежать трудностей при&nbsp;его&nbsp;оформлении.
                    </li>
                    <li>
                        Согласованию условий сделки с&nbsp;последующим заключением договора
                        на&nbsp;выполнение проектных работ. Используя индивидуальный подход
                        к&nbsp;каждому заказчику, мы&nbsp;стараемся сформировать наиболее
                        выгодные предложения, удовлетворяющие его&nbsp;запросам.
                    </li>
                    <li>
                        Проектированию котельной, составлению соответствующих документов.
                        В&nbsp;нем&nbsp;принимают участие профессионалы разных сфер
                        деятельности: теплоэнергетики, строители, сантехники, электрики,
                        специалисты по&nbsp;автоматизации работы котельной, по&nbsp;пожарному
                        делу и&nbsp;экологии.
                    </li>
                    <li>
                        Утверждению применяемых проектных решений и&nbsp;документации
                        заказчиком. При&nbsp;наличии объективных замечаний, возможна
                        ее&nbsp;доработка.
                    </li>
                    <li>
                        Согласованию проектных документов в&nbsp;разрешительных
                        и&nbsp;экспертных организациях, получение их&nbsp;положительных
                        заключений.
                    </li>
                </ul>
                <p>
                    Заключительным этапом проведенных работ будет передача заказчику
                    всего пакета проектной документации, готового для&nbsp;проведения
                    строительства и&nbsp;монтажа котельной.
                </p>
                <h2>Что вы&nbsp;получите, заказав проектирование газовых и&nbsp;других котельных</h2>
                <p>Каждому обратившемуся в&nbsp;ООО<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">«ГазЭнергоКомплект</span>» мы&nbsp;гарантируем:</p>
                <ul class="list">
                    <li>помощь квалифицированных специалистов в&nbsp;виде консультаций по&nbsp;вопросам реализуемого проекта;</li>
                    <li>высокое качество проведенных работ;</li>
                    <li>оптимальные сроки оформления документации и&nbsp;согласования ее&nbsp;в&nbsp;надзорных органах;</li>
                    <li>положительное заключение экспертизы проектной документации;</li>
                    <li>выгодную стоимость проектирования котельной, рассчитанную в&nbsp;индивидуальном порядке.</li>
                </ul>
                <p>
                    Одновременно с&nbsp;проектом вы&nbsp;можете заказать
                    у&nbsp;нас&nbsp;изготовление, доставку, монтаж и&nbsp;запуск
                    в&nbsp;эксплуатацию котельной. Это&nbsp;удобно и&nbsp;выгодно, поскольку
                    вам&nbsp;не&nbsp;придется тратить время на&nbsp;поиск производственной
                    и&nbsp;подрядной организации, заключение с&nbsp;ними соглашений.
                    Так&nbsp;вы&nbsp;уменьшите свои расходы на&nbsp;реализацию проекта,
                    получив превосходный результат.
                </p>
            </div>
            <div id="documents"></div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>