@{
    ViewData["Title"] = "ProjectWork";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta  />
    <title>Газэнергокомплект</title>
</head>
<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-action="Index">Главная<i class="ion-ios-arrow-forward"></i></a></span> <span>Работы<i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-0 bread">Монтаж котельных</h1>
                </div>
            </div>
        </div>
    </section>


    <div class="container mb-4" style="margin-top:55px; color:black; font-size:22px;">
        <div>
            <p>
                Ни одна сторонняя фирма не&nbsp;способна произвести установку и&nbsp;наладку блочно-модульных котельных<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(БМК</span>) с&nbsp;таким качеством, как&nbsp;это&nbsp;сделает её&nbsp;производитель. По&nbsp;этой причине ООО<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">«ГазЭнергоКомплект</span>»
                по&nbsp;вашему заказу изготовит, осуществит доставку и&nbsp;произведет
                монтаж котельной в&nbsp;указанном месте. Наши специалисты имеют высокую
                квалификацию и&nbsp;значительный опыт работы, что&nbsp;дает неизменно
                превосходный результат и&nbsp;соблюдение сроков выполнения проекта.
                Мы&nbsp;заботимся об&nbsp;удобстве наших клиентов, предоставляя
                им&nbsp;полный комплекс услуг. Купив у&nbsp;нас&nbsp;оборудование,
                вам&nbsp;не&nbsp;придется искать подрядную фирму и&nbsp;беспокоиться
                о&nbsp;заводской гарантии в&nbsp;случае его&nbsp;неверной установки.
                Мы&nbsp;все&nbsp;сделаем сами, вам&nbsp;останется только принять объект
                и&nbsp;без&nbsp;проблем приступить к&nbsp;его&nbsp;эксплуатации.
            </p>
            <p>
                Есть ряд&nbsp;причин, по&nbsp;которым монтаж котельной
                и&nbsp;пуско-наладочные работы лучше всего заказать
                у&nbsp;её&nbsp;изготовителя:
            </p>
            <ul class="list">
                <li>
                    Никто лучше наших специалистов не&nbsp;знает его&nbsp;особенности,
                    которые необходимо учесть при&nbsp;монтаже. Это&nbsp;позволяет избежать
                    ошибок в&nbsp;работе, способных в&nbsp;дальнейшем отрицательно повлиять
                    на&nbsp;технические характеристики котельной.
                </li>
                <li>
                    Серьезный опыт в&nbsp;сборке конструкций собственного производства
                    дает возможность существенно сократить время их&nbsp;монтажа
                    и&nbsp;ускорить запуск в&nbsp;эксплуатацию.
                </li>
                <li>
                    Если в&nbsp;силу недочетов, допущенных сторонней фирмой
                    при&nbsp;монтаже котельной, она&nbsp;выйдет из&nbsp;строя,
                    то&nbsp;вы&nbsp;не&nbsp;сможете обратиться
                    к&nbsp;нам&nbsp;за&nbsp;исполнением гарантийных обязательств. Монтаж
                    оборудования нашими силами обеспечит сохранение гарантии.
                </li>
            </ul>
            <p>
                Используя современные технологии, знания и&nbsp;умения
                квалифицированных специалистов, мы&nbsp;за&nbsp;разумные деньги
                обеспечим пуск БМК&nbsp;в&nbsp;положенный срок.
            </p>
            <p>&nbsp;</p>
            <h2>Монтаж промышленных котельных – этапы работ</h2>
            <p>
                Блочно-модульные конструкции являются изделиями повышенной заводской
                готовности. Еще&nbsp;до&nbsp;отгрузки заказчику они&nbsp;проходят
                предварительную сборку и&nbsp;испытания в&nbsp;заводских условиях.
                Это&nbsp;обеспечивает им&nbsp;высокое качество и&nbsp;оптимизирует
                используемые технологические решения. Проект по&nbsp;созданию
                и&nbsp;установке БМК&nbsp;реализуется в&nbsp;несколько последовательных
                этапов:
            </p>
            <ul>
                <li>
                    1. В&nbsp;полном соответствии с&nbsp;конструкторской документацией
                    заготавливается необходимый металлопрокат. Из&nbsp;него свариваются
                    каркасы, рамы блок-боксов котельной.
                </li>
                <li>
                    2. Осуществляется сборка основного технологического оборудования:
                    насосов, котлов с&nbsp;горелками, теплообменников, производится сварка
                    трубных систем и&nbsp;обвязки.
                </li>
                <li>3. Блок-боксы обшиваются сэндвич-панелями, ставятся на&nbsp;место стеклопакеты, двери и&nbsp;дефлекторы вентиляции.</li>
                <li>
                    4. После окончания огневых и&nbsp;покрасочных работ осуществляется
                    монтаж шкафов управления котельной и&nbsp;приборов КИПиА, прокладываются
                    кабели и&nbsp;подключается оборудование.
                </li>
                <li>
                    5. Трубопроводы теплоизолируются с&nbsp;использованием системы
                    K-flex, выполняется финишная подкраска некоторых конструктивных
                    элементов.
                </li>
                <li>
                    6. В&nbsp;присутствии представителя заказчика производятся
                    гидравлические испытания системы на&nbsp;герметичность, тестируются
                    системы автоматизации и&nbsp;управления. После этого подписывается акт,
                    подтверждающий работоспособность котельной.
                </li>
                <li>
                    7. Конструкция подготавливается к&nbsp;транспортировке,
                    для&nbsp;чего ее&nbsp;разбирают на&nbsp;отдельные блок-боксы, которые
                    упаковывают в&nbsp;термоусадочную пленку.
                </li>
                <li>
                    8. Низкорамным большегрузным транспортом осуществляется перевозка
                    котельной к&nbsp;месту сборки. Там&nbsp;она&nbsp;устанавливается
                    на&nbsp;заранее подготовленный фундамент, подключается к&nbsp;внешним
                    коммуникациям, на&nbsp;несущей мачте монтируется теплоизолированная
                    дымовая труба.
                </li>
                <li>9. Выполняются пусконаладочные работы, в&nbsp;процессе которых оборудование работает<span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">«под</span> нагрузкой» в&nbsp;течение 72 часов.</li>
                <li>10. Теперь БМК&nbsp;готова к&nbsp;эксплуатации, о&nbsp;чем&nbsp;подписывается соответствующий акт.</li>
            </ul>
            <h2>Монтаж водогрейной котельной – выгодное сотрудничество</h2>
            <p>Заказав у&nbsp;нас&nbsp;монтаж и&nbsp;наладку БМК, вы&nbsp;получите:</p>
            <ul class="list">
                <li>готовую к&nbsp;работе котельную, не&nbsp;требующую дополнительной отладки;</li>
                <li>четкое соблюдение сроков выполнения проекта;</li>
                <li>высокое качество работ, выполняемых с&nbsp;точным соблюдением технологий и&nbsp;государственных стандартов;</li>
                <li>гарантию 24 месяца на&nbsp;произведенные работы;</li>
                <li>консультации квалифицированных специалистов по&nbsp;техническим вопросам;</li>
                <li>индивидуальный подход при&nbsp;обсуждении проекта;</li>
                <li>приемлемую цену монтажа котельной под&nbsp;ключ.</li>
            </ul>
            <p>
                Ждем ваших заявок, и&nbsp;помните, что&nbsp;заказ лучше сделать
                заранее, чтобы у&nbsp;нас&nbsp;было достаточно времени изготовить
                оборудование и&nbsp;произвести его&nbsp;монтаж к&nbsp;отопительному
                сезону. Не&nbsp;зря&nbsp;народная мудрость гласит: готовь сани летом.
            </p>
        </div>
        <div id="documents"></div>
        <div class="clear"></div>
    </div>
</body>
</html>