/* ѕодключение шрифта Roboto */
@import url("https:/*fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ”бираем все отступы */


/* ¬ body устанавливаем шрифт, ширину и высоту, а также фон */
/*body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #fff1eb, #ace0f9);
    display: flex;
    justify-content: center;*/ /* чтобы контейнер */
    /*align-items: center;*/ /* был по центру */
/*}*/

/* ќграничиваем контейнер по ширине 1000px */
/*.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}*/

/* —тили самой формы */
/*.content {
    display: flex;*/ /* делаем колонки в р€д */
    /*align-items: center;*/ /* выравниваем по центру */
    /*justify-content: space-between;*/ /* колонки раст€нутс€ на всю ширину */
    /*background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}*/

/* —тили левой колонки */
.left-side {
    width: 25%; /* занимает 25% общей ширины */
    height: 100%; /* раст€гиваем на всю высоту */
    position: relative; /* позиционирование относительное (дл€ ::before) */
    display: flex;
    flex-direction: column; /* внутри элементы располагаем в колонку */
}

    /* —тили разделительной линии между левой и правой колонкой */
    .left-side::before {
        content: ""; /* контент нам не нужен */
        position: absolute; /* позиционируем относительно .left-side */
        height: 70%; /* высота 70% от .left-side */
        width: 2px; /* ширина 2px */
        background: #afafb6;
        right: -15px; /* позиционируем справа + отступ 15px (справа) */
        top: 50%; /* выравниваем по центру */
        transform: translateY(-50%); /* выравниваем по центру */
    }

/* —тили правой колонки */
.right-side {
    width: 75%; /* занимает 75% общей ширины */
    margin-left: 75px;
}

/* Ёлементы левой колонки: адрес, телефон, email */
.details {
    margin-bottom: 15px;
    text-align: center;
}

    /* ќбщие стили дл€ иконок */
    .details i {
        font-size: 25px; /* задаем размер */
        color: #3e2093; /* задаем цвет */
        margin-bottom: 10px;
    }

/* —тили дл€ заголовков левой колонки */
.topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px; /* отступ снизу 7px */
}

/* —тили дл€ текста левой колонки */
.text-one,
.text-two {
    font-size: 14px;
    color: #afafb6;
}

/* «аголовок правой колонки */
.topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

/* “екст правой колонки */
.right-side p {
    margin-bottom: 20px;
}

/*  онтейнер дл€ input'ов формы */
.input-box {
    height: 50px; /* по сути задаем высоту input'а */
    width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
    margin-bottom: 20px; /* отступаем снизу 20px */
}

    /* —тили дл€ input и textarea (поле сообщение) */
    .input-box input,
    .input-box textarea {
        height: 100%; /* раст€гиваем на всю высоту контейнера 50px */
        width: 100%; /* раст€гиваем на всю ширину */
        border: none; /* убираем внешние кра€ */
        border-radius: 5px; /* скругл€ем кра€ */
        background: #f0f1f8; /* задаем цвет фона */
        padding: 0 20px; /* отступ справа и слева 20px */
    }

    /* ќтдельно стилизуем поле сообщение */
    .input-box textarea {
        resize: none; /* чтобы нельз€ было мен€ть высоту */
        padding: 20px;
        font-family: "Roboto", sans-serif;
    }

/* Ёто контейнер дл€ пол€ сообщение */
.message-box {
    min-height: 110px; /* минимальна€ высота 110px */
}

/* —тили дл€ контейнера кнопки */
.button {
    display: inline-block; /* делаем блочно-строчный элемент */
}

    /* —тили дл€ самой кнопки */
    .button input[type="button"] {
        color: #fff;
        font-size: 18px;
        background: #3e2093;
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 7px;
        transition: 0.2s; /* чтобы плавно мен€лс€ цвет при наведении (:hover) */
    }

        /* ћен€ем цвет фона при наведении на кнопку */
        .button input[type="button"]:hover {
            background: rgb(0, 0, 207);
        }
